*{
    box-sizing: border-box;
    margin: 0;
}

body{
    background-color: rgb(73, 3, 74);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    padding-left: 100px;
    padding-right: 100px;
}

main{
    display: flex;   
    justify-content: center;
    flex-direction: column;
    background-color: rgb(110, 12, 79);
    opacity: 100%;
    width: 300px;
    margin-top: 100px;
    border-radius: 24px;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    }

    h1{
        display: flex;
        justify-content: center;
        font-size: large;
        margin-top: 10px;
        color: rgb(249, 249, 249);
        text-align: center;
    }

    p{
        color: #ffffff;
        text-align: center;
    }

    .style-funny-text{
        
        margin-top: 30px;
        margin-bottom: 30px;
        color: #ffffff;
    }

    .style-button{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(238, 10, 97);
        color: #ffffff;
        border: none;
        width: 200px;
        height: 30px;
        border-radius: 10px;
        margin-bottom: 20px;
    }

    .style-button:hover{
        background-color: rgb(52, 4, 35);
    }

   .main-two{
    display: flex;   
    justify-content: center;
    flex-direction: column;
    background-color: rgb(110, 12, 79);
    opacity: 100%;
    width: 300px;
    margin-top: 50px;
    border-radius: 24px;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
        }

    img{
        width: 200px;
        border-radius: 12px;
        margin-top: 20px;
        margin-bottom: 20px;
        
    }
